<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <style>
        .dataTables_filter input[type="search"] {
            border: 2px solid white;
            background-color: gray;
            color: white;
        }
        .dataTables_filter label {
            color: white;
        }
        .bottom-right {
          position: absolute;
          bottom: 4px;
          right: 8px;
        }
    </style>
    <table class="table table-dark table-striped" style="width: 100%">
        <tr>
            <td class="col-2"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='movie'">Movie</button></td>
            <td class="col-2"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='tvshow'">TVShow</button></td>
            <td class="col-2"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='game'">Game</button></td>
            <td class="col-3"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='musicvideo'">MusicVideo</button></td>
            <td class="col-3"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='podcast'">PodCast</button></td>
        </tr>
    </table>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>