<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
{% extends 'base.html' %}
{% block content %}
<body class="p-3 mb-2 bg-dark text-white">
    <div class="container">
        <div class = "hide-scroll" style="height: 100%">
            <table class="table table-dark table-striped" style = "width: 100%; height: 100%" id="gametable">
                <thead>
                    <tr>
                        <th class="col-1">게임 순위</th>
                        <th class="col-3">게임 제목</th>
                        <th class="col-1">게임 평점</th>
                        <th class="col-7">게임 줄거리</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in gamelist %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#gametable').DataTable({
                searching: true,
                lengthChange: false,
                lengthMenu: [100]
            });
        });
    </script>
</body>
{% endblock %}