<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="container-fluid">
        <div>
            <div class="row">
                <table class="table table-dark table-striped" style="width: 100%">
                    <tr>
                        <td class="col-2"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='movie'">Movie</button></td>
                        <td class="col-2"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='tvshow'">TVShow</button></td>
                        <td class="col-2"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='game'">Game</button></td>
                        <td class="col-3"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='musicvideo'">MusicVideo</button></td>
                        <td class="col-3"><button type="button" class="btn btn-secondary" style="width: 100%" onclick="location.href='podcast'">PodCast</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="row">
        <div class="col-1">Scraping By.PAD</div>
        <div class="col-1" style="height:50%">
            From.
            <a href="https://www.imdb.com/?ref_=nv_home"><img src="static\imdb_logo.png"></a>
        </div>
        <div class="col-10">
                Made By : Choi SeungHyun / Email : shchoi@fdxnetworks.com / (주) 한국에프디엑스네트웍스 / 주소 : 서울특별시 관악구 승방1길 6 2층
        </div>
    </div>
</footer>
</html>